/* Agrega estilos según sea necesario */

.slider-container {
    position: relative;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .position-indicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .position-indicator span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .position-indicator span.active {
    background-color: #333;
  }
  