


<!--Componente Portafolio-->
<section id="proyectos" style="background: linear-gradient(to bottom, #141e30, #243b55);" class="mt-5">
    < class="container-lg">
      <div data-aos="fade-up" class="row justify-content-center align-items-center mt-md-5">
        <div class="col-md-5 col-9 text-md-center text-center mt-5 display-6 fw-bold text-white">
          <h3>Example1</h3>
        </div>
      </div>
       

  <h3>Exaple2</h3>
          
     <div class="row">
  <!-- Primer Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/CONDEN.jpg" class="card-img-top" alt="web optimization">
      <div class="card-body">
        <h4>Example3</h4>
        <div class="text-center">
          <a tabindex="0" class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none" 
            role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Información Adicional" 
            data-bs-content="Esta es la información adicional que deseas mostrar. Puedes personalizar este contenido.">More</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Segundo Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/CONDENSADORES 2.jpg" class="card-img-top" alt="web optimization">
      <div class="card-body">
        <h4>Example4</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
            More
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Tercer Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/CONDENSADORES 3.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Example5</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
            More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Cuarto Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/CONDENSADORES.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Example6</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
            More
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Quinto Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/DUCTOS 1.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Example7</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
            More
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Sexto Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/DUCTOS 2.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Example8</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
            More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>




      



<!-- Componente Contacto -->
<section id="contact" class="bg-light">
    <div class="container-lg">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-xl-6 text-center px-3">
          <div data-aos="fade-right" class="row justify-content-center align-items-center mt-md-5">
            <p>Contact us</p>
          </div>
  
          <div data-aos="fade-right" style="border-radius: 25px;" class="col-12 bg-white my-4 shadow-lg">
            <div class="row justify-content-center align-items-center p-4">
              <form id="contact-form">
                <div class="col-md-6 col-12 mt-4 form-floating">
                  <input
                    style="border-radius: 25px;"
                    type="text"
                    name="name"
                    id="name"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Nombre Completo"
                  />
                  <label for="name">Name</label>
                </div>
                <div class="col-md-6 col-12 mt-4 form-floating">
                  <input
                    style="border-radius: 25px;"
                    type="email"
                    name="email"
                    id="email"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Correo Electrónico"
                  />
                  <label for="email">Email</label>
                </div>
                <div class="col-10 mt-4 form-floating">
                  <input
                    style="border-radius: 20px;"
                    type="text"
                    name="subject"
                    id="subject"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Asunto..."
                  />
                  <label for="subject">Affair...</label>
                </div>
                <div class="col-10 mt-4 form-floating">
                  <textarea
                    class="form-control border-1 text-dark"
                    id="query"
                    style="height: 140px; border-radius: 25px;"
                    placeholder="Mensaje..."
                  ></textarea>
                  <label for="query">Message...</label>
                </div>
                <div class="col-12 mt-4 text-center mb-3">
                  <button
                    type="submit"
                    class="btn btn-primary text-light btn-lg fw-bold"
                  >
                    Send
                  </button>
                  <br> <br>
                  
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>

<div class="whatsapp-button">
  <a href="https://api.whatsapp.com/send?phone=3127462794" target="_blank">
    <img src="../../../assets/icono-whatsapp--removebg-preview.png" alt="WhatsApp" width="20%">
  </a>
</div>
  
  <!--Componente Footer-->
  <section
style="background: linear-gradient(to bottom, #243b55, #141e30);"
class="py-3"
>
<div class="container-lg">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-12 text-lg-start text-center">
      <p class="cursor text-white">
        Copyright © 2023 |
        <span class="fw-bold" style="color: #02c09acc;">
          SALT LAKE HVAC
        </span>
      </p>
    </div>
    </div>
  </div> 

</section>