<h1 class="colorH1">Especialistas en:</h1>
<section class="lineas-negocio">
<div class="linea">
<h2>Planeación y Diseño</h2>
<ul>
    <li>Arquitectura de red</li>
    <li>Planeación de red</li>
    <li>Dimensionamiento de interfaces</li>
    <li>Análisis de tráfico</li>
    <li>Diseño indoor/outdoor</li>
    <li>Predicciones de cobertura</li>
    <li>Simulaciones de capacidad</li>
    <li>Análisis de espectro</li>
</ul>
</div>

<div class="linea">
<h2>Despliegue de Red</h2>
<ul>
    <li>Búsqueda de sitios</li>
    <li>Negociación de predios</li>
    <li>Site survey</li>
    <li>Instalación de equipos</li>
    <li>Comisionamiento</li>
    <li>Pruebas de validación</li>
    <li>Gerencia de proyectos</li>
    <li>Seguimiento a aceptación</li>
    <li>Interventoría de instalación</li>
    
</ul>
</div>

<div class="linea">
<h2>Mejora del Desempeño</h2>
<ul>
    <li>Initial tunning</li>
    <li>Optimización de red</li>
    <li>Benchmarking</li>
    <li>Drive / Walk test</li>
    <li>Correlación KPI / Parámetros</li>
    <li>Planes de mejora</li>
    <li>Lista de ofensores / Alarmas / VIP</li>
    <li>Outsourcing de ingeniería</li>
    <li>Cambios físicos</li>
</ul>
</div>

<div class="linea">
<h2>Consultoría y Auditoría de Red</h2>
<ul>
    <li>Auditoría de red y procesos</li>
    <li>Análisis de rendimiento</li>
    <li>Auditoría física y lógica</li>
    <li>Análisis de capacidad</li>
    <li>Evaluación tecnológica</li>
    <li>Consultores en sitio / remotos</li>
    <li>Análisis de interferencias</li>
    <li>Reportes especializados</li>
    <li>Pruebas de funcionalidades</li>
    <li>Entrenamiento</li>
    
</ul>
</div>
</section>


<!--Componente Portafolio-->
<section id="proyectos" style="background: linear-gradient(to bottom, #141e30, #243b55);" class="mt-5">
    < class="container-lg">
      <div data-aos="fade-up" class="row justify-content-center align-items-center mt-md-5">
        <div class="col-md-5 col-9 text-md-center text-center mt-5 display-6 fw-bold text-white">
          <h3>Proyectos Indoor</h3>
        </div>
      </div>
    
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="max-width: 90%; margin: auto;">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
     
          
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/PIndoor.png" class="d-block w-100 custom-img-size" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/MovistarArena.jpg" class="d-block w-100 custom-img-size" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/TorreAtrio.jpg" class="d-block w-100 custom-img-size" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/ElEden.jpg" class="d-block w-100 custom-img-size" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/VilladelRio.jpg" class="d-block w-100 custom-img-size" alt="...">
          </div>
          
        
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      

  <h3>Proyectos Outdoor</h3>
          
     <div class="row">
  <!-- Primer Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/Nuevas/573.jpg" class="card-img-top" alt="web optimization">
      <div class="card-body">
        <h4>Mediciones</h4>
        <div class="text-center">
          <a tabindex="0" class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none" 
            role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Información Adicional" 
            data-bs-content="Esta es la información adicional que deseas mostrar. Puedes personalizar este contenido.">Leer más</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Segundo Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/Nuevas/descarga2.png" class="card-img-top" alt="web optimization">
      <div class="card-body">
        <h4>Outdoor</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
            Leer más
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Tercer Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/Nuevas/doblePan.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Simulaciones</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
            Leer más
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Cuarto Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/Nuevas/infovista_test.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Tems Pocket</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
            Leer más
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Quinto Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/Nuevas/DriveTest.png" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Drive Test</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
            Leer más
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Sexto Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/Nuevas/CompuCel.jpeg" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Documentación</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
            Leer más
          </a>
        </div>
      </div>
    </div>
  </div>
</div>




      



<!-- Componente Contacto -->
<section id="contact" class="bg-light">
    <div class="container-lg">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-xl-6 text-center px-3">
          <div data-aos="fade-right" class="row justify-content-center align-items-center mt-md-5">
            <p>Contáctanos</p>
          </div>
  
          <div data-aos="fade-right" style="border-radius: 25px;" class="col-12 bg-white my-4 shadow-lg">
            <div class="row justify-content-center align-items-center p-4">
              <form id="contact-form">
                <div class="col-md-6 col-12 mt-4 form-floating">
                  <input
                    style="border-radius: 25px;"
                    type="text"
                    name="name"
                    id="name"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Nombre Completo"
                  />
                  <label for="name">Nombre Completo</label>
                </div>
                <div class="col-md-6 col-12 mt-4 form-floating">
                  <input
                    style="border-radius: 25px;"
                    type="email"
                    name="email"
                    id="email"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Correo Electrónico"
                  />
                  <label for="email">Correo Electrónico</label>
                </div>
                <div class="col-10 mt-4 form-floating">
                  <input
                    style="border-radius: 20px;"
                    type="text"
                    name="subject"
                    id="subject"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Asunto..."
                  />
                  <label for="subject">Asunto...</label>
                </div>
                <div class="col-10 mt-4 form-floating">
                  <textarea
                    class="form-control border-1 text-dark"
                    id="query"
                    style="height: 140px; border-radius: 25px;"
                    placeholder="Mensaje..."
                  ></textarea>
                  <label for="query">Mensaje...</label>
                </div>
                <div class="col-12 mt-4 text-center mb-3">
                  <button
                    type="submit"
                    class="btn btn-primary text-light btn-lg fw-bold"
                  >
                    Enviar
                  </button>
                  <br> <br>
                  
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>

<div class="whatsapp-button">
  <a href="https://api.whatsapp.com/send?phone=3127462794" target="_blank">
    <img src="../../../assets/icono-whatsapp--removebg-preview.png" alt="WhatsApp" width="20%">
  </a>
</div>
  
  <!--Componente Footer-->
  <section
style="background: linear-gradient(to bottom, #243b55, #141e30);"
class="py-3"
>
<div class="container-lg">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-12 text-lg-start text-center">
      <p class="cursor text-white">
        Copyright © 2023 |
        <span class="fw-bold" style="color: #02c09acc;">
          TEAMCO CONSULTING SAS
        </span>
      </p>
    </div>
    </div>
  </div> 

</section>