
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/TECNICO 5.jpg" class="d-block w-100" alt="..." style="filter: brightness(0.8);">
        <div class="carousel-caption  d-md-block">
          <h2 class="display-5 fw-bold">Desarrollamos Soluciones Efectivas !</h2>
          <h5>Salt Lake Hvac</h5>
          <!--<p>Some representative placeholder content for the first slide.</p>-->
          <!--<button type="button" (click)="probar()" class="btn btn-primary btn-lg">Contactanos</button>-->
  
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/CARGUE REFRIGERANTE.jpg" class="d-block w-100 " alt="..."style="filter: brightness(0.7);">
        <div class="carousel-caption ">
          <h2 class="display-5 fw-bold">Ingeniería de Vanguardia para Desafíos Actuales: Más Allá de las Expectativas. !</h2>
          <h5>Teamco Consulting SAS</h5>
          <!--<p>Some representative placeholder content for the second slide.</p>-->
          
  
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/TERRAZA 2.jpg" class="d-block w-100 " alt="..."style="filter: brightness(0.6);">
        <div class="carousel-caption  d-md-block">
          <h2 class="display-5 fw-bold">Innovación en Conectividad: Diseñamos el Futuro de las Comunicaciones. !</h2>
          <h5>Teamco Consulting SAS</h5>
          
          
  
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  
  <!--Componente Suministros-->
  <section id="ourmotto" class="bg-light">  
    <div class="container-lg">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-12 text-center">
          <h1 class="display-4 fw-bold text-dark">¿Quiénes somos?</h1>
        </div>
        <div class="col-md-6 col-12 text-dark">
          <p class="lead">
            Teamco es un actor destacado en la industria de las telecomunicaciones. Nuestra profunda experiencia
            nos permite ofrecer soluciones rentables con un enfoque centrado en mejorar la calidad de las redes 
            para operadores fijos, móviles y de televisión. Además, brindamos servicios a empresas de ingeniería, 
            proveedores de infraestructura y fabricantes de equipos originales (OEM).
          </p>
        </div>
      </div>
      
      <div class="row justify-content-center align-items-center mt-5">
        <div class="col-md-3 col-6">
          <div class="card">
            <img src="../../../assets/Torre Car.jpg" class="card-img-top" alt="Ingeniería">
            <div class="card-body">
              <h5 class="card-title">Ingeniería</h5>
              <p class="card-text">Ofrecemos soluciones integrales a través de nuestros servicios de ingeniería de redes y gestión de proyectos, 
                cubriendo cada etapa desde la planificación y diseño hasta la implementación y optimización.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="card">
            <img src="../../../assets/antenna-316311_1280.jpg" class="card-img-top" alt="Suministro">
            <div class="card-body">
              <h5 class="card-title">Suministro</h5>
              <p class="card-text">Suministramos productos de ingeniería adaptados a las necesidades del mercado de las telecomunicaciones mediante la distribución de reconocidas marcas a nivel mundial.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="card">
            <img src="../../../assets/ia.jpg" class="card-img-top" alt="Innovación">
            <div class="card-body">
              <h5 class="card-title">Innovación</h5>
              <p class="card-text">Diseñamos sistemas que permiten crear, conectar y gestionar eficientemente sus activos y procesos. Integrando equipos y servicios,
                 ofrecemos soluciones personalizadas a medida de sus necesidades.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="card">
            <img src="../../../assets/Tecnico.jpeg" class="card-img-top" alt="Talento">
            <div class="card-body">
              <h5 class="card-title">Talento</h5>
              <p class="card-text">Unimos necesidades y oportunidades con talento y habilidades que potencian la eficiencia de los procesos, cumpliendo con los estándares de la industria.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  